*{margin:0; padding:0;}
body {
	background-image:url(foto.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center bottom;
	}
#box {
	margin:10px;
	width:720px;
	height:480px;
	color:#39C;
	background-color:#039;
	background-image: url(slide_btn.png);
	
}
#elemento {
	color:#ccc;
	width:480px;
	height:360px;
	overflow:auto;
	overflow-y:hidden;
	background:#333;
	margin:10px;
	padding:10px;
	line-height:30px;
	text-align:justify;
	/*min-width:480px;
	max-width:720px;
	min-height:360px;
	max-height:720px;*/
}