/* Documento de Estilo */
*{margin:0; padding:0;}
h1{font: bold 18px Tahoma, Geneva, sans-serif; color:#333; margin:0;}
h2{font: bold 14px Tahoma, Geneva, sans-serif; color:#999; margin:0;}
p{font:12px Verdana, Geneva, sans-serif; color:#333; margin:10px 0;}

a{color:#0cf; font:12px Tahoma, Geneva, sans-serif;}
a:hover:{text-decoration:none;}

/*a:link{color:#F00;}
a:visited{color:#900;}
a:hover{font-weight:bold;}
a:active{color:#0F0}*/

#conteudo{background:#069; border:5px solid #000; width:720px; padding:10px;}
#conteudo p{color:#fff;}

#conteudo .formato{padding:5px; background:#fdd;margin:10px; width:50%;}
#conteudo .formato p{color:#000; font-size:20px;}

