/*RESET*/
*{margin:0;padding:0;}
body{background:url(images/body_bg.png)repeat-x top #fff;}
#corpo{width:900px; margin:0 auto;}
.espaco{width:900px; height:15px; background:url(images/espaco_bg.png) no-repeat center;}
#rodape_espaco{width:900px; height:15px; background:url(images/rodape_espaco.png) no-repeat center;}
#conteudo{width:900px; background:url(images/conteudo_bg.png) repeat-y center; float:left;}
#limpar{clear:both;}

/*TOPO*/
#topo{width:900px; height:161px;}
#topo .logo{width:480px; height:109px; margin: 0 auto; display:block; padding:0 auto;}
#topo .linha, #rodape .linha{width:900px; height:2px; background:url(images/topo_hr_bg.png) repeat-x;}
#topo .menu, #rodape .menu{float:left; list-style:none; display:inline; width:876px; border-bottom:3px solid #D36666; padding:3px 12px;}
#topo .menu li, #rodape .menu li{float:left; margin:10px;}
#topo .menu li a, #rodape .menu li a{font:bold 14px Arial, Helvetica, sans-serif; color:#fff; text-transform:uppercase; text-decoration:none; float:left;}
#topo .menu li a:hover, #roda	pe .menu li a:hover{text-decoration:underline;}
#topo .menu .iconel, #rodape .menu .iconel{width:17px; height:17px; background:url(images/icone_menu_l.png) no-repeat center;}
#topo .menu .iconer, #rodape .menu .iconer{width:17px; height:17px; background:url(images/icone_menu_r.png) no-repeat center;}
#topo .menu .separador, #rodape .menu .separador{width:17px; height:17px; background:url(images/separador.png) no-repeat center;}
#topo .info_imprimir{display:none;}

/*DESTAQUES*/
#home_dtq {height:263px; background:#b60000;}
#home_dtq .box1 {background:url(images/bg_dtq.png) no-repeat; float:left; width:510px; height:243px; margin:5px; padding: 8px 8px 0 8px; position:relative;}
#home_dtq .box1 ul{float:left; list-style:none; width:510px; height:236px; overflow:hidden;}
#home_dtq .box1 ul li .dtq_info{padding:10px; background:rgba(0,0,0,0.5); position:absolute; z-index:100; bottom:0px; left:0px; margin-bottom:0px; margin-left:0px; width:490px;}
#home_dtq .box1 ul li .dtq_info .dtq_site{font: bold 14px Arial, Helvetica, sans-serif; color:#fff; text-transform:uppercase; margin-bottom:5px; float:left; width:380px;}
#home_dtq .box1 ul li .dtq_info .dtq_data{font: bold 14px Arial, Helvetica, sans-serif; color:#fec900; text-transform:capitalize; float:left; width:380px;}
#home_dtq .box1 ul li .dtq_info a{position:absolute; right:0; bottom:0; background:url(images/dtq_btn.png) no-repeat top; font: bold 14px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase; padding:4px 6px 5px 6px; margin-right:20px; margin-bottom:17px;}
#home_dtq .box1 ul li .dtq_info a:hover{background:url(images/dtq_btn.png) no-repeat bottom;}
#home_dtq .box2 {width:340px; height:76px; float:right; margin:5px;}
#home_dtq .box2 ul {list-style:none; float:right; margin-top:1px;}
#home_dtq .box2 ul li {padding:3px; background:#172C3D; margin-bottom:3px; float:left; height:73px; border:1px solid #2F4251;}

/*CONTEUDO*/
#conteudo_corpo{margin: 0 10px 5px 10px; float:left; width:880px; min-height:410px;}
#conteudo .titulo{padding:6px; background:#333; font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; margin-bottom:10px;}
#conteudo .phone{width:880px; padding:5px 0; font: bold 16px Arial, Helvetica, sans-serif; color: #172c3d; float:left; margin-bottom:5px;}
#conteudo .phone p{float:left; padding:8px 0;}
#conteudo .phone .box_phone{float:right; font: 14px Tahoma, Geneva, sans-serif; color: #fff; background:url(images/bloco_fone_bg.png) no-repeat; padding:8px 30px 8px 35px;}
#conteudo .phone .box_phone strong{margin-right:15px; float:left;}
#conteudo .servicos_home {list-style:none; float: left; display: inline;}
#conteudo .servicos_home li {padding:5px; background:#fff; border:1px solid #ccc; width:418px; height:88px; float:left; margin:5px;}
#conteudo .servicos_home li img {float:left; margin:0 15px 0 5px;}
#conteudo .servicos_home li h3 {font: bold 12px Tahoma, Geneva, sans-serif; color: #fff; background:url(images/li_title_bg.png) no-repeat; padding:5px 10px; float:left; width:297px;}
#conteudo .servicos_home li p {font: bold 12px Arial, Helvetica, sans-serif; color: #333; margin-top:5px; float:left; width:315px;}

/*SIDERBAR A*/
#conteudo .siderbar_a {width:430px; float:left;}
#conteudo .siderbar_a .ref {padding:5px; background:#FFF; margin-bottom:10px; float:left;}
#conteudo .siderbar_a .ref h2{font:18px Arial, Helvetica, sans-serif; color:#333;}
#conteudo .siderbar_a .ref p {font:12px Arial, Helvetica, sans-serif; color:#333; margin:10px 0;}
#conteudo .siderbar_a .ref ul{list-style:square; margin:0 25px; color:#666;}
#conteudo .siderbar_a .ref li{margin:3px 0; font: bold 12px Arial, Helvetica, sans-serif; color:#666;}
#conteudo .siderbar_a .ref span{font:27px Arial, Helvetica, sans-serif; color:#990000;}
#conteudo .siderbar_a .ref .contato{margin:10px 0;}
#conteudo .siderbar_a .ref .contato span{color:#FFF; padding:6px; background:#990000; font-size:20px; margin-bottom:10px; display:block; float:left;}
#conteudo .siderbar_a .ref .contato p{margin:3px 0; float:left; display:block; font-size:18px;}	
#conteudo .siderbar_a .imagens{float:left; list-style:none;}
#conteudo .siderbar_a .imagens li{margin-bottom:10px;}

/*SIDERBAR B*/
#conteudo .siderbar_b {width:430px; float:right;}
#conteudo .siderbar_b .thumb {float:right;}
#conteudo .siderbar_b .galeria {padding:5px; background:#FFF; float:right; margin:10px 0; width:420px; list-style:none; display:inline;}
#conteudo .siderbar_b .galeria li {float:left; margin:5px;}
#conteudo .siderbar_b .imprimir {padding:6px; background:#333; text-align:center; float:right; width:418px;}
#conteudo .siderbar_b .imprimir a {background:none; border:0; font:bold 18px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; text-decoration:none;}
#conteudo .siderbar_b .servicos_pagina {padding:5px; background:#FFF; float:right; margin:10px 0; width:420px; list-style:none; display:inline;}
#conteudo .siderbar_b .servicos_pagina li {float:left; margin:5px 2px; text-transform:uppercase; font: bold 14px Arial, Helvetica, sans-serif; color: #fff; background:url(images/bg_servicos.png) no-repeat; width:396px; padding:9px 0 9px 35px;}

/*RODAPE*/
#rodape{height: 185px; background:#990000;}
#rodape .rodape_corpo {width:900px; margin:0 auto; height:185px;}
#rodape .rodape_elementos {float:left; width:900px; list-style:none; display:inline;}
#rodape .rodape_elementos li {float:left; margin:15px 70px 0 20px;}
#rodape .rodape_elementos .direita {float:right; margin: 15px 10px 0 0;}
#rodape .rodape_elementos li .tel {font: bold italic 20px Arial, Helvetica, sans-serif; color: #fff; padding-left:40px; background:url(images/rodape_tel.png) no-repeat left;}
#rodape .rodape_elementos li .mail {font: bold italic 20px Arial, Helvetica, sans-serif; color: #fff; padding-left:40px; background:url(images/rodape_mail.png) no-repeat left;}
#rodape .rodape_elementos li p {font: bold 16px Arial, Helvetica, sans-serif; color:#fff; text-transform:uppercase; margin: 5px 10px;}
#rodape .rodape_elementos li .min {font: bold 14px Arial, Helvetica, sans-serif; color:#fff; text-transform:lowercase; margin: 8px 10px;}

/*PÁGINAS*/
#pagina{width:880px;}

/*404*/
.erro{padding:5px; background:#fff; text-align:center;}
.erro p{font:bold 12px Arial, Helvetica, sans-serif; color:#ff6100;}

/*SOBRE*/
#pagina ul{list-style:none;}
#pagina .siderbar_c{width:540px; margin-right:5px; float:left;}
#pagina .siderbar_c li{padding:5px; background:#fff; border:1px solid #ccc; margin-bottom:15px;}
#pagina .siderbar_c li h2{font: bold 14px Verdana, Geneva, sans-serif; text-transform: uppercase; color:#ff6100;}
#pagina .siderbar_c li p{margin:10px 0;font:14px Verdana, Geneva, sans-serif; color:#666;}
#pagina .siderbar_d {float:right; width:320px;}
#pagina .siderbar_d li {margin-bottom:10px;}
#pagina .siderbar_d img{width:320px;}

/*PORTFOLIO*/
#pagina .portfolio {list-style:none; width:880px; float:left; display:inline;}
#pagina .portfolio li {float:left; font:bold 11px Arial, Helvetica, sans-serif; text-align:center; width:260px; padding:10px; margin:5px; background:#fff;border: 1px solid #ccc; min-height:240px;}
#pagina .portfolio li .link {color:#ff6100; margin: 5px 10px;}
#pagina .portfolio li a {color:#900; font-size:14px; text-decoration:none;}
#pagina .portfolio li a:hover {text-decoration:underline;}
#pagina .portfolio li img {padding:2px; border:1px dotted #ccc;}

/*CONTATO*/
#pagina .contato{float:left; width:250px; padding:5px; background:#fff; border:1px solid #ccc;}
#pagina .contato h3{font:bold italic 18px Arial, Helvetica, sans-serif; color:#ff6100; margin-bottom:10px;}
#pagina .contato p{font:12px Verdana, Geneva, sans-serif; color:#666; margin:0 10px 10px 10px;}
#pagina .fale{padding:10px; background:#fff; margin: 0 10px; float:right; width:570px; margin-left:10px; border:1px solid #ccc;}
#pagina .fale label{display:block; margin-bottom:10px; background:#f5f5f5; padding:5px;}
#pagina .fale span{display:block; margin-bottom:5px; font:bold 12px Tahoma, Geneva, sans-serif; color:#666;}
#pagina .fale input, #pagina .fale textarea{background:#fff; border:1px solid #999; padding:10px; font:14px Arial, Helvetica, sans-serif; color:#333; width:535px;}
#pagina .fale .btn{width:160px; background:#666; color:#fff; font:bold 14px Verdana, Geneva, sans-serif; display:block; margin:5px auto; cursor:pointer;}
#pagina .fale .btn:hover{background:#333;}